@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

img {
  vertical-align: bottom;
}

.hidden {
  display: none !important;
}

.nav-container {
  padding: 0 1.5rem;
}

.nav {
  max-width: 70rem;
  margin: 0 auto;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__button {
  border: none;
  background: none;
  cursor: pointer;
}
.nav__menu {
  position: absolute;
  top: 100%;
  left: 0;
  height: calc(100vh - 5rem);
  z-index: 1000;
  background-color: hsl(270deg, 9%, 17%);
  width: 100%;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.nav__menu-button {
  border: 2px solid currentcolor;
  color: hsl(0deg, 0%, 98%);
  background: none;
  width: 100%;
  padding: 1.5ch 3ch;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  cursor: pointer;
}
.nav__item {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 98%);
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

.intro-container {
  background-color: hsl(256deg, 26%, 20%);
  width: 100%;
}
@media screen and (min-width: 640px) {
  .intro-container {
    height: 40rem;
    padding: 10rem 1.5rem 0 1.5rem;
    margin-bottom: 10rem;
    position: relative;
  }
}
@media screen and (min-width: 640px) {
  .intro-container::after {
    position: absolute;
    content: url(./images/bg-pattern-intro-right-desktop.svg);
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 640px) {
  .intro-container::before {
    position: absolute;
    content: url(./images/bg-pattern-intro-left-desktop.svg);
    bottom: -20rem;
    left: 0;
  }
}

.intro {
  max-width: 70rem;
  margin: 0 auto;
}
@media screen and (min-width: 640px) {
  .intro {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
}
.intro__picture-container {
  height: 30rem;
}
@media screen and (min-width: 640px) {
  .intro__picture-container {
    width: 50%;
    height: 40rem;
    margin-bottom: -10rem;
  }
}
.intro__picture {
  position: relative;
}
.intro__picture > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__picture::after {
  position: absolute;
  content: url(./images/bg-pattern-intro-left-mobile.svg);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  top: 100%;
  left: 0;
}
@media screen and (min-width: 640px) {
  .intro__picture::after {
    all: unset;
  }
}
.intro__text {
  padding: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}
@media screen and (min-width: 640px) {
  .intro__text {
    width: 50%;
    padding: 0;
    padding-right: 2rem;
    justify-content: center;
    align-items: flex-start;
  }
}
.intro__text::after {
  position: absolute;
  content: url(./images/bg-pattern-intro-right-mobile.svg);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: -12rem;
  right: 0;
}
@media screen and (min-width: 640px) {
  .intro__text::after {
    all: unset;
  }
}
.intro__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: hsl(0deg, 0%, 98%);
  text-align: center;
  line-height: 2ch;
}
@media screen and (min-width: 640px) {
  .intro__title {
    text-align: left;
    font-size: clamp(2.8rem, 5vw, 4.4rem);
  }
}
.intro__paragraph {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(0deg, 0%, 98%);
  text-align: center;
  line-height: 2.5ch;
}
@media screen and (min-width: 640px) {
  .intro__paragraph {
    text-align: left;
  }
}
.intro__button {
  border: 2px solid currentcolor;
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5ch 3ch;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 98%);
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  margin-top: 1rem;
  cursor: pointer;
}
.intro__button:hover {
  color: hsl(256deg, 26%, 20%);
  background-color: hsl(0deg, 0%, 98%);
}

.content {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
}
@media screen and (min-width: 640px) {
  .content {
    max-width: 70rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 0;
    margin: 0 1.5rem;
  }
}
.content__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: hsl(270deg, 9%, 17%);
  font-size: 2.8rem;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .content__title {
    flex-basis: 100%;
    text-align: left;
    font-size: clamp(2.8rem, 5vw, 4.4rem);
  }
}
.content .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 640px) {
  .content .feature {
    flex-basis: 30ch;
    flex-grow: 1;
    align-items: flex-start;
  }
}
.content .feature__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: hsl(270deg, 9%, 17%);
  font-size: 1.8rem;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .content .feature__title {
    text-align: left;
  }
}
.content .feature__text {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(273deg, 4%, 51%);
  font-size: 1rem;
  line-height: 3ch;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .content .feature__text {
    text-align: left;
  }
}
.content::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 50%;
  top: 0;
  background-color: hsl(216deg, 30%, 68%);
}
@media screen and (min-width: 640px) {
  .content::before {
    left: 0;
    width: 15%;
  }
}

.cta {
  background-color: hsl(256deg, 26%, 20%);
  padding: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
.cta__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 98%);
  font-size: 2.8rem;
  text-align: center;
  line-height: 2ch;
}
.cta__button {
  border: 2px solid currentcolor;
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5ch 3ch;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 98%);
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  margin: 1rem auto 0 auto;
  cursor: pointer;
}

.footer {
  padding: 5rem 1.5rem;
  background-color: hsl(0deg, 0%, 98%);
  background-image: url(./images/bg-pattern-footer-mobile.svg);
  background-size: 100% auto;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.footer__socials {
  display: flex;
  gap: 1rem;
}
.footer__divider {
  all: unset;
  width: 100%;
  border: 1px solid hsl(216deg, 30%, 68%);
  border-right: none;
  border-bottom: none;
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.footer__item {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  list-style: none;
}
.footer__item:nth-of-type(1) {
  color: hsl(273deg, 4%, 51%);
  margin-bottom: 1.5rem;
}
.footer__attribution {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(273deg, 4%, 51%);
  font-size: 0.9rem;
  text-align: center;
}
.footer__attribution > a {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: hsl(273deg, 4%, 51%);
}/*# sourceMappingURL=style.css.map */