@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

img {
  vertical-align: bottom;
}

.hidden {
  display: none !important;
}

.nav {
  padding: 0 min(7vw, 1.5rem);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__button {
  border: none;
  background: none;
  cursor: pointer;
}
.nav__menu {
  position: absolute;
  top: 100%;
  left: 0;
  height: calc(100vh - 5rem);
  z-index: 1000;
  background-color: hsl(270deg, 9%, 17%);
  width: 100%;
  padding: min(15vw, 3rem) min(7vw, 1.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(15vw, 3rem);
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}
.nav__menu-button {
  border: 2px solid currentcolor;
  color: hsl(0deg, 0%, 98%);
  background: none;
  width: 100%;
  padding: 1.5ch 3ch;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  cursor: pointer;
}
.nav__item {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 98%);
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(25vw, 5rem);
}

.intro {
  background-color: hsl(256deg, 26%, 20%);
}
.intro__picture {
  position: relative;
}
.intro__picture::after {
  position: absolute;
  content: url(./images/bg-pattern-intro-left-mobile.svg);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  top: 100%;
  left: 0;
}
.intro__text {
  padding: min(25vw, 5rem) min(7vw, 1.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(5vw, 1rem);
  position: relative;
}
.intro__text::after {
  position: absolute;
  content: url(./images/bg-pattern-intro-right-mobile.svg);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: -12rem;
  right: 0;
}
.intro__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: hsl(0deg, 0%, 98%);
  text-align: center;
  line-height: 2ch;
}
.intro__paragraph {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(0deg, 0%, 98%);
  text-align: center;
  line-height: 2.5ch;
}
.intro__button {
  border: 2px solid currentcolor;
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5ch 3ch;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 98%);
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  margin: 1rem auto 0 auto;
  cursor: pointer;
}

.content {
  padding: min(15vw, 3rem) min(7vw, 1.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(15vw, 3rem);
  position: relative;
}
.content__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: hsl(270deg, 9%, 17%);
  font-size: 2.8rem;
}
.content .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(7vw, 1.5rem);
}
.content .feature__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: hsl(270deg, 9%, 17%);
  font-size: 1.8rem;
}
.content .feature__text {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(273deg, 4%, 51%);
  font-size: 1rem;
  line-height: 3ch;
  text-align: center;
}
.content::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 50%;
  top: 0;
  background-color: hsl(216deg, 30%, 68%);
}

.cta {
  background-color: hsl(256deg, 26%, 20%);
  padding: min(25vw, 5rem) min(7vw, 1.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(10vw, 2rem);
  position: relative;
  background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
.cta__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 98%);
  font-size: 2.8rem;
  text-align: center;
  line-height: 2ch;
}
.cta__button {
  border: 2px solid currentcolor;
  background: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5ch 3ch;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 98%);
  text-transform: uppercase;
  letter-spacing: 0.2ch;
  margin: 1rem auto 0 auto;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */